/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#custom_style{
  height: 650px;
  width: 835px;
   position: relative;
  overflow: hidden;

}
/*#custom_style{
 position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 650px;
    overflow: hidden;
}*/

#sidebar{
  float: right;
  height: 650px;
  width: 300px;
  background-color: #F2F1EF;
  overflow: scroll;
}

#title{
  padding-left: 30px;
  font-family: courier;
}

#r-title{
  font-size: 1.5em;
}

#about{
  padding-left: 30px;
  font-family: arial;
  font-size: 1em;
}

#bookstore-sidebar{
  float: right;
  height: 650px;
  width: 300px;
  font-size: .8em;
  font-family: 'Bitter'
}
