/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 */

 body{
  padding: 0;
  margin: 0;
  position: relative;
 }

#custom_style{
  height: 665px;
  width: 835px;
  position: relative;
  overflow: hidden;

}

#sidebar{
  float: right;
  height: 665px;
  width: 310px;
  background-color: #F2F1EF;
  overflow: scroll;
  margin-top: -665px;
  z-index: 1;
}

#title{
  margin-top: 0;
  padding-left: 27px;
  font-family: courier;
  color: #E4F1FE;
  font-size: 1.6em;
}

#r-title{
  font-size: 1.5em;
}

#title-background{
  width: 310px;
  height: 3%;
  background-color: #6C7A89;
  padding-bottom: 10px;
}

#about{
  padding-left: 25px;
  font-family: 'Mandali', arial;
  font-size: .75em;
  font-weight: 600;
}

#bookstore-sidebar{
  float: right;
  height: 650px;
  width: 300px;
  font-size: .8em;
  font-family: 'Bitter';
}

#search-books{
  margin-left: 30px;
}
/****Store Names****/
a{
  color: #F22613;
  text-decoration: none;
}

.search{
  background-color: #1BBC9B;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

#url-links{
  color: black;
}
